<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>主页</title>
</head>

   <body>
   
      <table border = 1>
         {% for key, value in result.items() %}
            {% if key == 'item_list' and value | length > 5 %}
            <tr>
               <th> {{ key }} </th>
               <td> {{ value[0:5] }} <br />等共{{value | length}}件物品 </td>
            </tr>
            {% else %}
            <tr>
               <th> {{ key }} </th>
               <td> {{ value }} </td>
            </tr>
            {% endif %}
            
         {% endfor %}
      </table>
      <form action="http://localhost:5000/w_equipment">
      <input type="hidden" value = {{ result['name'] }} name = 'nm'>
      <p><input type = "submit" value = "穿装" ></p>
      </form>

      <form action="http://localhost:5000/w_ornament">
      <input type="hidden" value = {{ result['name'] }} name = 'nm'>
      <p><input type = "submit" value = "切换功法" ></p>
      </form>

      <form action="http://localhost:5000/consign">
      <input type="hidden" value = {{ result['name'] }} name = 'nm'>
      <p><input type = "submit" value = "寄售" ></p>
      </form>

      <form action="http://localhost:5000/store">
      <input type="hidden" value = {{ result['name'] }} name = 'nm'>
      <p><input type = "submit" value = "商店" ></p>
      </form>

      <form action="http://localhost:5000/treasure_hunt">
      <input type="hidden" value = {{ result['name'] }} name = 'nm'>
      <p><input type = "submit" value = "寻宝" ></p>
      </form>

      <form action="http://localhost:5000/work">
      <input type="hidden" value = {{ result['name'] }} name = 'nm'>
      <p><input type = "submit" value = "加班" ></p>
      </form>
   </body>
</html>
