<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>商店</title>
</head>

<body>
   <form action="http://localhost:5000/login" method="POST">
   </p><input type="submit"  value = "返回主页"></p>
   <input type="hidden" name="nm" value={{w.name}} />
   </form>

<h3> 物品检索 </h3>
<form action="http://localhost:5000/store" method="post">
<p>道具名称<input type="text" name = 'it_name'>       稀有度<input type="text" name = 'it_rarity'>  </p>  
<input type="radio" name = 'afd' value = "no"  checked = "checked"/>全部显示  <input type="radio" name = 'afd' value = "yes" />仅显示可购买物品
<br/>
<input type="radio" name = "it_type" value = "both" checked = "checked">显示所有类型物品  <input type="radio" name = "it_type" value = "equipment">只显示装备  <input type="radio" name = "it_type" value = "ornament">只显示功法
<input type="hidden" name="nm" value={{w.name}} />
<p><input type="submit" value="提交"></p>
</form>

    <table border = 1>
        
        <h1 style="text-align: center;">商店中有{{result | length}}件物品</h1>
        <h2 style="text-align: center;">你现在有{{w.wallet}}块钱</h2>
        {% if result | length != 0 %}
           <tr>
            {% for k in result[0].keys() %}
              {% if k == '_id' %}{% else %}
              <th> {{ k }} </th>
              {% endif %}
            {% endfor %}
            </tr>
        
        {% for i in result %}
           
           <tr>
            {% for k,v in i.items() %}
               {% if ((k == 'name' or k == 'rarity') and i['rarity'] != 'white') and k != '_id' %}
               <td style="color: {{i['rarity']}}"> {{ v }} </td>
               {% elif k != '_id' %}
               <td> {{ v }} </td>
               {% else %}
               {% endif %}
            {% endfor %}
            {% if i['belonging'] == w.name %}
            <form action = "http://localhost:5000/purchase_item" method="post">
               <p><input type="hidden" value={{ i['id'] }} name = 'pid'></p>
               <p><input type="hidden" value={{ w['name'] }} name = 'nm'></p>
            <td><p><input type="submit" value="收回"></p></td>
            </form>
            {% else %}
            <form action = "http://localhost:5000/purchase_item" method="post">
               <p><input type="hidden" value={{ i['id'] }} name = 'pid'></p>
               <p><input type="hidden" value={{ w['name'] }} name = 'nm'></p>
            <td><p><input type="submit" value="购买"></p></td>
            </form>
            {% endif %}
           </tr>
           
           
        {% endfor %}
     </table>
     {% else %}{% endif %}
</body>