<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>功法</title>
</head>

<body>
   <form action="http://localhost:5000/login" method="POST">
   </p><input type="submit"  value = "返回主页"></p>
   <input type="hidden" name="nm" value={{result['name']}} />
   </form>


    <h1 style="text-align: center;">你的装备1：</h1>
    {% if result['wearing_ornament'][0] != None %}
  
    <table border = 1>
        {% for k, v in result['wearing_ornament'][0].items() %}
           {% if (k == 'name' or k == 'rarity') and result['wearing_ornament']['rarity'] != 'white' %}
           <tr>
              <th> {{ k }} </th>
              <td style="color: {{result['wearing_ornament']['rarity']}};"> {{ v }} </td>
            </tr>
            {% else %}
            <tr>
               <th> {{ k }} </th>
               <td> {{ v }} </td>
            </tr>
         {% endif %}

              
           
           
        {% endfor %}
     </table>
     {% else %}
     <h1 style="text-align: center;">你啥也没穿，快去装备功法</h1>
     {% endif %}

     <h1 style="text-align: center;">你的装备2：</h1>
    {% if result['wearing_ornament'][1] != None %}
  
    <table border = 1>
        {% for k, v in result['wearing_ornament'][1].items() %}
           {% if (k == 'name' or k == 'rarity') and result['wearing_ornament']['rarity'] != 'white' %}
           <tr>
              <th> {{ k }} </th>
              <td style="color: {{result['wearing_ornament']['rarity']}};"> {{ v }} </td>
            </tr>
            {% else %}
            <tr>
               <th> {{ k }} </th>
               <td> {{ v }} </td>
            </tr>
         {% endif %}

              
           
           
        {% endfor %}
     </table>
     {% else %}
     <h1 style="text-align: center;">你啥也没穿，快去装备功法</h1>
     {% endif %}

     <h1 style="text-align: center;">你的物品：</h1>
     
     {% if result['item_list'] != [] %}
     <table border = 1>
        <tr>
            <th> 名字 </th>
            <th> 能力 </th>
            <th> 稀有度 </th>
            
         </tr>
        {% for i in result['item_list'] %}

           {% if i['type'] == 'ornament' %}
           
           <tr>
              {% if i['rarity'] != 'white' %}
              
              <th style="color: {{i['rarity']}};"> {{i['name']}} </th>
              <th > {{i['ability']}} </th>
              <th style="color: {{i['rarity']}};"> {{i['rarity']}} </th>
              
                 {% if i in result['wearing_ornament'] %}
              <th>已装备</th>

                 {% else %}
              <form action = "http://localhost:5000/wear1" method = "post">
              <p><input type="hidden" value={{ i['id'] }} name = 'oid'></p>
              <p><input type="hidden" value={{ result['name'] }} name = 'nm'></p>
              <th> <p><input type="submit" value="装备到饰品栏1"></p></th> 
              </form>
              <form action = "http://localhost:5000/wear2" method = "post">
              <p><input type="hidden" value={{ i['id'] }} name = 'oid'></p>
              <p><input type="hidden" value={{ result['name'] }} name = 'nm'></p>
              <th> <p><input type="submit" value="装备到饰品栏2"></p></th> 
              </form>
                 {% endif %}


              {% else %}
              <th> {{i['name']}} </th>
              <th> {{i['ability']}} </th>
              <th> {{i['rarity']}} </th>
              
                 {% if i in result['wearing_ornament'] %}
              <th>已装备</th>

                 {% else %}

              <form action = "http://localhost:5000/wear1" method = "post">
                <p><input type="hidden" value={{ i['id'] }} name = 'oid'></p>
                <p><input type="hidden" value={{ result['name'] }} name = 'nm'></p>
              <th> <p><input type="submit" value="装备到饰品栏1"></p></th> 
              </form>
              <form action = "http://localhost:5000/wear2" method = "post">
                <p><input type="hidden" value={{ i['id'] }} name = 'oid'></p>
                <p><input type="hidden" value={{ result['name'] }} name = 'nm'></p>
              <th> <p><input type="submit" value="装备到饰品栏2"></p></th> 
              </form>
                 {% endif %}
              {% endif %}
           </tr>
           {% else %}{% endif %}
         
        {% endfor %}
     </table>
    
     {% else %}
     <h1 style="text-align: center;">你啥也没有，快去寻宝</h1>
     {% endif %}


     
</body>